.header-box {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  z-index: 1000;
}
.navBox {
  display: flex;
  justify-content: space-around;
  flex: 0.7;
}

.eachLink {
  color: black;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  margin: 0 5px;
}

.menu-icon {
  display: none;
  align-items: center;
  cursor: pointer;
}

.cartBadge {
  position: absolute;
  top: -16px;
  right: -2px;
  background: #ff6f20;
  color: #fff;
  border-radius: 50%;
  padding: 2.5px 7px;
  font-size: 13px;
  min-width: 20px;
  text-align: center;
}

.mobileMenu {
  position: absolute;
  top: 65px;
  left: 5px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.mobileLink {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding: 10px;
  margin-right: 15px;
}
.logo-link {
  background-color: white;
  margin: 5px;
}
.cart-link {
  position: relative;
  margin-right: 10px;
}
.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
