.slideshow {
  position: relative;
  margin: 0 5px 0 0;

}

.slidesContainer {
  position: relative;
  overflow: hidden;
  border-radius: 8px;

}
.dealsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d3748;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: white;
  padding:10px;
  text-align: center;
}
.slide {
  display: none;
  text-align: center;
  background: #fff;
  gap: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgBox {
  width: 80%;
}

.active {
  display: flex;
  flex-direction: row;
}

.slideImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto 1rem auto;
  object-fit: contain;
}

.onSaleTitle {
  display: none;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

.slideTitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #2d3748;
}

.slideDescription {
  font-size: 1rem;
  color: #4a5568;
  margin-bottom: 2rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.pricing {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.oldPrice {
  text-decoration: line-through;
  color: #a0aec0;
  margin-right: 0.75rem;
}

.discount {
  background-color: rgb(237, 70, 70);
  color: white;
  font-weight: 700;
  padding: 0 0.5rem;
  border-radius: 4px;
}

.currentPrice {
  font-size: 1.3rem;
  font-weight: 700;
  color: green;
  margin-bottom: 0.5rem;
}

.promo {
  font-size: 1rem;
  color: #d69e2e;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background-color: #ff6f20;
  color: white;
  padding: 0.6rem 1.3rem;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.25s ease;
}


@media (max-width: 800px) {
  .dealsTitle {
    display: none;
  }
  .onSaleTitle {
    display: flex;
  }

  .active {
    flex-direction: column;
    padding: 5px;
  }

  .slideshow {
    margin: 5px;
    height: auto;
  }

  .slideTitle {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
  }

  .slideImage {
    max-width: 200px;
  }

  .imgBox {
    width: 100%;
  }

  .slideDescription {
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
  }

  .btn {
    font-size: 0.9rem;
  }

  .promo {
    font-size: 0.9rem;
  }

  .currentPrice {
    font-size: 1rem;
  }

  .discount,
  .oldPrice {
    font-size: 0.9rem;
  }

  .oldPrice {
    display: block;
  }

  .discount {
    display: inline-block;
    width: 50%;
  }

  .slideTitle,
  .slideDescription {
    margin-bottom: 1rem;
  }
}
