.slideshow {
  background: rgba(0, 0, 0, 0.504);
  padding: 1rem;
  text-align: center;
  border-radius: 1.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.oldPrice {
  text-decoration: line-through;
  margin-right: 10px;
  color: white;
}
@media (max-width: 800px) {
  .slideshow {
    background-color: #ff6b00;
  }
  .card {
    background-color: #fff !important;
    color: black;
  }
  .slideDescription {
    color: black !important;
  }
  .oldPrice {
    color: black !important;
  }
}

.dealsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: 2rem;
  font-weight: 800;
  color: #ffe100;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.icon {
  filter: brightness(0) saturate(100%) invert(81%) sepia(59%) saturate(2541%)
    hue-rotate(356deg) brightness(103%) contrast(103%);
}

.slidesContainer {
  display: flex;
  justify-content: center;
}

.slide {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.slide.active {
  opacity: 1;
}

.card {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1rem;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.imgBox {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.slideImage {
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.discount {
  background: #d9261c;
  color: #fff06a;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.slideTitle {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.slideDescription {
  font-size: 0.95rem;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 1.2rem;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.priceBox {
  border: 2px solid white;
  border-radius: 10px 0 0 10px;
  padding: 0.6rem 1.2rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.currentPrice {
  color: #ff6d00;
}

.btn {
  background: #ff6d00;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1.4rem;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  font-size: 1.1rem;
  transition: background 0.3s;
}

.btn:hover {
  background: #bd5002;
}
