.payment-method-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 0 20px;
  font-family: "Segoe UI", sans-serif;
}

.payment-method-container h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
  color: #222;
}
.payment-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pay-method-wrapper {
  width: 60%;
  min-height: 80vh;
  margin: 5vh auto 0;
}

.payment-btn {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  cursor: pointer;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.payment-btn:hover {
  border-color: #ff6f20;
  box-shadow: 0 3px 8px rgba(255, 111, 32, 0.2);
}

.payment-btn.selected {
  border-color: #ff6f20;
  background-color: #fff8f2;
}

.payment-btn img {
  margin-left: 5px;
  height: 22px;
  width: auto;
}
/* ComponentName.module.css */

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  margin: 10px;
}

.errorText {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.button {
  padding: 10px 20px;
  background-color: #ff6f20;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Ensures no underline for anchor tags styled as buttons */
  font-weight: bold;
  cursor: pointer; /* Indicate it's clickable */
  transition: background-color 0.2s ease; /* Smooth hover effect */
}

.button:hover {
  background-color: #e65c19; /* Slightly darker orange on hover */
}
